#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 40px;
}

@media screen and (max-width: 425px) {

    #header {
        padding: 3px 10px;
        background-color: rgba(224, 219, 219, 0.377);
        /* flex-direction: row-reverse; */
    }

    .chat-messages {
        background-color: rgb(175, 170, 170);
        display: flex;
        padding: 4px;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }
}